body {
font-family: Arial, sans-serif;
background: linear-gradient(to right, #74ebd5, #acb6e5);
margin: 0;
text-align: center;
}

header {
background: #2c3e50;
color: white;
padding: 10px;
}

nav a {
color: white;
margin: 10px;
text-decoration: none;
font-weight: bold;
padding: 6px 12px;
border-radius: 5px;
}

nav a:hover {
background: #1abc9c;
}

section {
padding: 40px;
}

form {
background: white;
padding: 20px;
margin: 30px auto;
width: 320px;
border-radius: 10px;
box-shadow: 0 0 10px gray;
}

input, textarea, button {
width: 90%;
padding: 10px;
margin: 8px;
border-radius: 5px;
border: 1px solid #ccc;
}

button {
background: #1abc9c;
color: white;
border: none;
font-size: 16px;
cursor: pointer;
}

button:hover {
background: #16a085;
}

.jobs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.job-box {
  width: 250px;
  background-color: #e8f5e9;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
}

.job-box h3 {
  color: #1b5e20;
}

.apply-btn {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.apply-btn:hover {
  background-color: #1b5e20;
}

footer {
background: #2c3e50;
color: white;
padding: 5px;
position: fixed;
bottom: 0;
width: 100%;
}

.courses {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.course-box {
  width: 200px;
  padding: 15px;
  background-color: #e3f2fd;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
  text-align: center;
  transition: transform 0.3s;
}

.course-box:hover {
  transform: scale(1.05);
  background-color: #bbdefb;
}

.course-box h3 {
  color: #0d47a1;
}
